@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/* General Settings */
body {
  margin: 0;
}

/* Header Settings */
.header-title {
  font-size: 30px;
  margin-left: 10%;
}

.nav-link {
  color: white;
  font-size: 20px;
}

/* About Me Section */
.banner-image {
  max-height: 200px;
}

.about-me {
  width: 90%;
}

.name, .tagline, .sectionHeading {
    font-family: 'Akaya Telivigala';
    font-size: 50px;
}

.profile-image {
    border-radius: 180px;
    width: 80%;
}

/* Projects section */
#work {
    padding: auto;
}

.cardContainer {
    margin-top: 20px;
}

.card {
    margin: 0 auto;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.proj-card:hover {
    box-shadow:  20px 20px 60px blue,
             -20px -20px 60px lightblue;
}

.second-row {
    justify-content: center;
}

/* Skills section */
#skills {
    padding-top: 7em;
    padding-bottom: 7em;
    text-align: center;
    background-color: #E9ECEF;
}

.dev-icons {
    flex-wrap: wrap;
}

.list-group {
    justify-content: center;
}

.list-group-item {
    border: none;
}

.fa-html5 {
    color: lightgrey;
}

.fa-html5:hover {
    color: orange;
}

.fa-css3-alt {
    color: lightgrey;
}

.fa-css3-alt:hover {
    color: blue;
}

.fa-js-square {
    color: lightgrey;
}

.fa-js-square:hover {
    color: #EFC825;
}

.fa-react {
    color: lightgrey;
}

.fa-react:hover {
    color: #61DAFB;
}

.fa-node-js {
    color: lightgrey;
}

.fa-node-js:hover {
    color: #7FBD01;
}

.fa-npm {
    color: lightgrey;
}

.fa-npm:hover {
    color: #E32E37;
}

/* Contact Me section */
.contact-card:hover {
    box-shadow:  20px 20px 60px blue,
             -20px -20px 60px lightblue;
}

/* Footer */
footer {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.social-icon {
    color: white;
}

.social-icon:hover {
    color: #EFC825;
}