@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/* General Settings */
body {
  margin: 0;
}

/* Header Settings */
.header-title {
  font-size: 30px;
  margin-left: 10%;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: 600 !important;
}

.nav-link:hover {
    color: #FFC107 !important;
    border-bottom: 4px solid #FFC107;
}

/* About Me Section */
.banner-image {
  max-height: 200px;
}

.about-me {
  width: 90%;
}

.name, .tagline, .sectionHeading {
    font-family: 'Akaya Telivigala';
    font-size: 50px;
}

.profile-image {
    border-radius: 180px;
    width: 80%;
}

/* Projects section */
#work {
    padding: auto;
}

.cardContainer {
    margin-top: 20px;
}

.card {
    margin: 0 auto;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.card-body {
    color: white;
}

.btn-light {
    box-shadow: 2px 2px #bebebe;
}

.proj-card {
    background: rgb(5,123,235);
    background: linear-gradient(90deg, rgba(5,123,235,1) 0%, rgba(28,23,196,0.9598214285714286) 35%, rgba(109,0,255,1) 73%);
}

.proj-card:hover {
    box-shadow:  20px 20px 60px rgba(0, 0, 253, 0.5),
             -20px -20px 60px lightblue;
}

.second-row {
    justify-content: center;
}

/* Skills section */
#skills {
    padding-top: 7em;
    padding-bottom: 7em;
    text-align: center;
    background-color: #E9ECEF;
}

.dev-icons {
    flex-wrap: wrap;
}

.list-group {
    justify-content: center;
}

.list-group-item {
    border: none;
}

.fa-html5, .fa-css3-alt, .fa-js-square, .fa-react, .fa-node-js, .fa-npm {
    color: lightgrey;
}

.fa-html5:hover {
    color: orange;
}

.fa-css3-alt:hover {
    color: blue;
}

.fa-js-square:hover {
    color: #EFC825;
}

.fa-react:hover {
    color: #61DAFB;
}

.fa-node-js:hover {
    color: #7FBD01;
}

.fa-npm:hover {
    color: #E32E37;
}

/* Contact Me section */
.contact-card:hover {
    box-shadow:  20px 20px 60px rgba(0, 0, 253, 0.5),
             -20px -20px 60px lightblue;
}

.contact-title {
    color: black;
}

/* Footer */
footer {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.social-icon {
    color: white;
}

.social-icon:hover {
    color: #FFC107;
}